html{
    background-color: black;
    padding: 20px;
}



.container{
    display: flex;
    justify-content:left;
    align-items: center;
}

.menu a{
    color: white;
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
}

h1{
    color: white;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sup{
    padding-left: 50px;
    padding-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bv{
    color: white;
    font-weight: lighter;
    font-size: 25px;

}

.mon{
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

li{
    color: white;
}

.task1 {
    padding-left: 20px;
    width: 250px;
    background-color: rgb(255, 0, 0);
    margin-top:30px;
    margin-left: 40px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .task1:hover {
    transform: scale(1.2); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  
  .task-number{
    color: black;
  }
  .task-days{
    color: rgb(180, 172, 172);
  }
  .name-cli{
    color: white;
  }
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .task1 .header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    position: relative; 
    padding-bottom: 5px; 
  }
  
  .task1 .header::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: black; 
  }
  
  
  
  .content p {
    font-size: 0.9em;
  }
  
 
  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
  }

  .task1 {
    padding-left: 20px;
    width: 250px;
    background-color: rgb(255, 0, 0);
    margin-top:30px;
    margin-left: 40px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .task1:hover {
    transform: scale(1.2); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
  
  .task-number{
    color: black;
  }
  .task-days{
    color: rgb(180, 172, 172);
  }
  .name-cli{
    color: white;
  }
  .header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .task1 .header {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    position: relative; 
    padding-bottom: 5px; 
  }
  
  .task1 .header::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: black;
  }
  
  
  
  .content p {
    font-size: 0.9em;
  }
  
 
  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
  }